# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.apk
*.aab

# Node & NestJS
node_modules/
dist/
*.log
npm-debug.log*

# Environment Variables & Secrets
.env
.env.local
.env.production
*.pem

# IDE & OS
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
~$*

# Temporary Scratch Scripts
scratch/
